# file options

--exclude Build, Tests/XCTestManifests.swift

# format options

--swiftversion 5.7
--hexgrouping ignore
--decimalgrouping ignore
--ifdef no-indent
--self init-only
--shortoptionals except-properties
--wraparguments before-first
--wrapcollections before-first
--wrapconditions after-first
--maxwidth 120

# rules

--lint-only unusedArguments
--lint-only unusedPrivateDeclarations
--enable emptyExtensions
--enable isEmpty
--enable noForceTryInTests
--enable noForceUnwrapInTests
--enable preferFinalClasses
--enable redundantAsync
--enable redundantThrows
--enable redundantEquatable
--enable redundantMemberwiseInit
--enable redundantVariable
--disable wrapFunctionBodies
--disable wrapPropertyBodies
--disable docComments
