# file options

--exclude Build, Tests/XCTestManifests.swift

# format options

--swiftversion 5.7
--hexgrouping ignore
--decimalgrouping ignore
--ifdef no-indent
--self init-only
--shortoptionals except-properties
--wraparguments before-first
--wrapcollections before-first
--wrapconditions after-first
--maxwidth 120

# rules

--lintonly unusedArguments
--lintonly unusedPrivateDeclarations
--enable isEmpty
--enable docComments
--enable throwingTests
--enable redundantProperty
--enable redundantEquatable
--enable redundantMemberwiseInit
